<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div align="center">
    <h2>User Update</h2>
    <form action="#" th:action="@{/Update-User}" th:object="${user}" th:method="patch">
        <table border="0" cellpadding="5">
            <tr>
                <label for="id">ID </label>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
                <br/>
                <label for="name">Name </label>
                <input  type="text" th:field="*{userName}" id="name" placeholder="name">
                <br/>
                <label for="Lastname">Lastname </label>
                <input  type="text" th:field="*{lastName}" id="Lastname" placeholder="Lastname">
                <br/>
                <label for="age">Age </label>
                <input  type="text" th:field="*{age}" id="age" placeholder="age">
                <br/><br/>
                <label for="email">Email </label>
                <input  type="text" th:field="*{email}" id="email" placeholder="email">
                <br/>

            </tr>
            <input type="submit" value="Update User"/>
        </table>
    </form>
</div>
</body>
</html>